@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");

:root {
  --primary: #c0955d;
  --secondary: #fa643d;
  /*
    #c0955d
    #FFF28c
    #020F59
    #4f1179C0 
    */
}

html,
body {
  /*pegando 100% do tamanho da tela*/
  height: 100%;
  /*não permitir mostrar a barra de rolagem*/
  overflow-x: hidden;
  font-family: "Open Sans";
  /*Espaço entre as letras*/
  letter-spacing: -0.03em;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"] {
  font-size: 15px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
input[type="text"]:disabled
  input[type="email"]:disabled
  input[type="password"]:disabled
  input[type="date"]:disabled {
  background: #f6f5f5;
  border: 0.5px solid #dcdcdc;
  outline: none;
  color: #626264;
}

/*

.container-checkout{
  background-color: var(--secondary) !important;
}
*/

.btn {
  font-size: 15px;
}

.bg-primary {
  background-color: var(--primary) !important;
}

.bg-secondary {
  background-color: var(--secondary) !important;
}

.btn-outline-secondary:hover {
  background-color: var(--secondary) !important;
  border-color: var(--secondary);
}

.btn-secondary{
  background-color: var(--secondary) !important;
}

.btn-primary,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:disabled,
.btn-primary:hover {
  background-color: var(--primary) !important;
  border-color: var(--primary);
}
.bg-primary {
  /*!important serve para que a web pega a nossa variavel global e não a do bootstrap*/
  background-color: var(--primary) !important;
}

.box {
  background: #fff;
  box-shadow: 0px 0px 11px 6px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  display: inline-block;
  padding: 50px;
}
