.cart-button{
    position: relative;
    float: right;
    z-index: 999;
    margin-top: -55px;
    margin-right: 20px;
    background-color: #fff;

}

.header {
    background-color: rgb(var(--primary)) !important;

}
